{{ if .Site.Data.pricing.enable}}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="pricing" class="pricing section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.pricing.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.pricing.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
        

        {{ range .Site.Data.pricing.pricingTable }}
        {{"<!-- single pricing table -->" | safeHTML}}
        <div class="col-lg-4 col-md-4 col-12 text-center wow fadeInUp" data-wow-duration="200ms">
          <div class="price-item flex-row">
            {{"<!-- plan name & value -->" | safeHTML}}
            <div class="price-title">
                <h3>{{ .title }}</h3>
                <p><strong class="value">{{ .price }}</strong>/ {{ .time }}</p>
                <p>{{ .content}}</p>
            </div>
            {{"<!-- plan description -->" | safeHTML}}
            <ul>
                {{ range .plan }}
                <li>{{ .planDetails }}</li>
                {{ end }}
            </ul>
          </div>
        </div>
        {{"<!-- end single pricing table -->" | safeHTML}}
        {{ end }}
    
        <div class="pricing-paragraph row hourly">
          <h2 class="pricing-h2">Payments and Policies</h2>
          <h3>It's never been easier to get started! We accept payments through Square and QuickBooks. It's safe, secure and convenient!</h3>
          <h5 class="question">Deposits</h5>
          <p>We require all work be paid in advance for the current month, since you will have instant access to our work as it is happening once your account is set up.  Because of this, we bill ahead of time for each month's work, typically on the first. However, at times can accomodate flexible invoice due dates.</p>
        </div>

        <div class="pricing-paragraph">
            <h2>FAQ's</h2>
            <h5 class="question">Do I need to buy QuickBooks before I get started?</h5>
            <p>Absolutely not! In fact, we even prefer you come to us before purchasing any QuickBooks products so we can provide you  with 50% OFF retail, and help get your company set up right from the start!</p>
            <h5 class="question">I don't know how to use Quickbooks, can you help me?</h5>
            <p>Absolutely, we will teach you how to use the best features of the software to save you time, money, and energy!</p>
            <h5 class="question">When will I have access to my bookeeper?</h5>
            <p>As a small business ourselves, we are able to keep flexible hours to answer your questions, and will provide you with direct lines to call or text with questions or concerns. </p>
            <h5 class="question">Does it cost extra to get set up with the mobile app?</h5>
            <p>No, the mobile apps comes free with Intuit pruducts. We will be happy to show you how you can utilize the mobile app to track time, send estimates, invoices, accept payments, and maintain client contact records. </p>
            <h5 class="question">What payment mothods do you accept?</h5>
            <p>We bill through online onvoices for you convenience. This method allows you to pay with debit or credit card, or ACH electronic bank transfer. </p>
        </div>            
    </div>
</div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}